    .alinear{
     display: inline-block;
     width: 70%;
     margin-top: 3px;
     margin-bottom: 3px;
     margin-left: 3px;
     margin-right: 3px;
     border-radius: 5px;  
    }
.index-social {
    background-color:#ebe4e4;
    color:#ffffff;
}

.index-link{
    background-color:#3b3636;
}